/ {
	chosen {
		zephyr,code-partition = &boot_partition;
	};
};

boot_partition: &cpurad_slot0_partition {
	label = "remote";
};

&uart136 {
    status = "disabled";
};

&pwm130 {
    status = "disabled";
};

&adc {
    status = "disabled";
};

&nfct {
    status = "disabled";
};

&can120 {
    status = "disabled";
};

&gpio6 {  
  zephyr,pm-device-runtime-auto;
}; 

&gpio9 {  
  zephyr,pm-device-runtime-auto;
}; 

&gpiote130 {
    zephyr,pm-device-runtime-auto;
};

/* From https://github.com/nrfconnect/sdk-zephyr/pull/3212 */

&cpurad_cpusys_ipc {
	unbound = "enable";
};