&gpio6 {
	zephyr,pm-device-runtime-auto;
};

&exmif {
	zephyr,pm-device-runtime-auto;
};

&cpuapp_data {
	reg = <0x2f000000 0x40000>;
};

/* From https://github.com/nrfconnect/sdk-zephyr/pull/3212 */

&cpuapp_cpusys_ipc {
	unbound = "enable";
};